main{
    max-width: 1320px;
    margin: 0 auto;
}
.banner{
    width: 1320px;
    height: 600px;
    position: relative;
    margin: 40px;


}
.banner img{
    width: 100%;
    height: auto;
    display: block;
    background-color:#070211 ;
    border-radius: 16px;
}
.text-over-image{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner-frist-title{
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
}
.banner-second-title{
    font-size: 72px;
    color: rgba(255, 255, 255, 1);
}
/* discount section */
.discount-section{
    text-align: center;
}
.discount-heading{
    font-size: 88px;
    font-weight: 700px;
    color: rgba(255, 0, 0, 1);
    text-align: center;
    margin-bottom: 48px;
}
.discount-para{
    font-size: 24px;
    font-weight: 500px;
    color:rgba(255, 0, 0, 1);

}
.discount-heading2{
    font-size: 46px;
    font-weight: 700px;
    color: rgba(7, 2, 17, 1);
    margin-top: 0;
}
/* mid night party section */