main{
    max-width: 1320px;
    margin: 0 auto;
}
.banner{
    width: 1320px;
    height: 600px;
    position: relative;
    margin: 40px;


}
.banner img{
    width: 100%;
    height: auto;
    display: block;
    background-color:#070211 ;
    border-radius: 16px;
}
.text-over-image{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner-frist-title{
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
}
.banner-second-title{
    font-size: 72px;
    color: rgba(255, 255, 255, 1);
}
/* discount section */
.discount-section{
    text-align: center;
}
.discount-heading{
    font-size: 88px;
    font-weight: 700px;
    color: rgba(255, 0, 0, 1);
    text-align: center;
    margin-bottom: 48px;
}
.discount-para{
    font-size: 24px;
    font-weight: 500px;
    color:rgba(255, 0, 0, 1);

}
.discount-heading2{
    font-size: 46px;
    font-weight: 700px;
    color: rgba(7, 2, 17, 1);
    margin-top: 0;
}
/* mid night party section */
.mid-night img{
     width: 100%;
    height: auto;
    display: block;
    background-color: rgba(7, 2, 17, 1);
     border-radius: 20px;
    

 
}
.mid-night{
    position:relative ;
}
.mid-night-over-text{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.mid-night-heading{
    font-size: 64px;
    font-weight: 900px;
    color: rgba(255, 255, 255, 1);
}
.mid-night-para{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}
.mid-night-btn{
    font-size: 20px;
    font-weight: 700px;
    color: rgba(255, 255, 255, 1);
    background-color: #D9A299;
    border: 1px solid #447D9B;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}
.mid-night-img{
    border-radius: 50px;
}
/* party time section*/
.party-container{
     position: relative;
}
.party-time{
    width: 1320px;
    height: 482px;
    background: linear-gradient(#FF0000,#070211,#FFFFFF);
    opacity: 15%;
    margin-top: 80px;
    border-radius: 20px;
   
}
.party-time-title{
    font-size: 32px;
    font-weight: 600px;
    color: black;
    opacity: none;
}
.party-time-over-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} 
.party-time-clr{
    color: #FF0000;
    padding: 5px;
}
.party-time-btn{
    margin-bottom: 110px;
    text-align: center;
    width: 167px;
    height: 56px;
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 16px 32px  ;

}
/* beat offer section */
.best-offer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.offer-heading1{
    font-size: 24px;
    font-weight: 500px;
    color: #FF0000;
    margin-bottom: 20px;
}
.offer-heading2{
    font-size: 48px;
    font-weight: 900px;
    color: #070211;
    margin-top: 0;
    margin-bottom: 20px;
}
.offer-para{
    font-size: 20px;
    color: #070211;
    opacity: 60%;
    margin-top: 0;
}
.offer-middle{
    border: 15px solid #FF0000;
    border-radius: 50%;
    padding: 20px;
}
.number{
    font-size: 48px;
    font-weight: 700px;
    color: #FF0000;
}
.number-para{
    font-size: 20px;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    opacity: 60%;
}
/* holiday section start */
.holiday-frist-container{
    text-align: center;
   
}
.holiday-small-heading{
    font-size: 24px;
    font-style: 500px;
    color: #070211;
    margin-bottom:0 ;
}
.holiday-big-heading{
    font-size: 72px;
    font-weight: 900px;
    margin-top: 0   ;
    color: 070211;
    margin-bottom: 10px;
}
.holiday-span{
    color: #FF0000;

}.holiday-para{
        font-size: 20px;
        font-weight: 500px;
        color: #070211;
        opacity: 60%;
        margin-top: 0;
         width: 1068px;
        height: 96px;
}
.holiday-second-container{
    height: 400px;
   text-align: bottom;
   display: flex;
   position: relative;

}
.left-img{
    position: absolute;
    top: 18px;
    left:10px;

}
.right-img{
    position: absolute;
    top:120px;
    right: 20px;
}